[submodule "contrib/ClickHouse"]
	path = contrib/ClickHouse
	url = https://github.com/ClickHouse/ClickHouse.git
	branch = 23.3
[submodule "contrib/starrocks"]
	path = contrib/starrocks
	url = https://github.com/StarRocks/starrocks
