<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.weixin.dao.clickhouse.ClickhouseExecuteMapper">
    <sql id="tableName">testtest</sql>

    <select id="select"
            resultType="com.tencent.weixin.model.ClickhouseExecuteModel">
        select * from
        <include refid="tableName"/>
    </select>
    
</mapper>

