<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.weixin.dao.mysql.SqlUdfMapper">

    <select id="select"
            resultType="com.tencent.weixin.model.SqlUdfModel">
        select * from sql_udf_dict
    </select>

    <insert id="insert">
        INSERT INTO sql_detail_udf_map
        (udf_id, sql_id)
        VALUES(#{udfId}, #{sqlId})
    </insert>
    
</mapper>
